.cardTitle{
    margin-left: 10px; 
    font-size: 1em;
    font-weight: bold;
}
.cardDesc{
    margin-left: 10px; 
}
.tasklist{
    margin: 10px;
}
.newtask
{
    font-size: 0.8em;
}
.link{
    cursor: pointer;
}
.carret{
    display: inline-block;
    cursor: pointer;
}
.titleText{
    display: inline;
}
.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #ff4040;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
    color: white;
    font-weight: bold;
 }

.fullScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    clear: both;
    background: black;
    opacity: 0.3;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 35%;
    padding-bottom: 15%;
    z-index: 100;
}

.fullScreentransparent {
    position: absolute;
    clear: both;
    width: 16%;
    height: 100%;
    left: 40%;
    top: 2em;
    background: transparent;
    z-index: 101;
}