<div class="panel panel-warning boardlist">
    <div class="panel-heading">
        <div>
            <i class="fa fa-1 fa-circle inline" aria-hidden="true" [style.color]="item.color"></i>
            <span class="inline listTitle">
                {{item.name}}
            </span>
            <button *ngIf="!existSub" type="button" title="Crear card" class="btn btn-default btn-xs inline" (click)="showAddCard(item.Id)"> <!--(click)="showAddCard(item.$key)"-->
                <i class="fa fa-plus"></i>
            </button>
            <button *ngIf="existSub || cardlistEmpty" style="background-color:red; color:white" type="button" title="Crear Sublist" class="btn btn-default btn-xs inline" (click)="showAddSubCardList()"> <!---->
                <i class="fa fa-plus"></i>
            </button>
            <a style="float:right; color:black" class="fa fa-trash"></a>
        </div>
        <!--Aqui los div para cuando hay subcardlist y para cuando no, en el otro ejemplo 
            no dejaba pasar la carta al otro cardlist si estaba vacio, me imagino que se debera 
            a la posicion del allowdrop o similares-->
    </div>

    <div *ngIf="!existSub" class="" dnd-droppable
         [allowDrop]="allowDropFunction()"
         (onDropSuccess)="cardDropped($event)" style="height:80%">
        <ul class="list-group">
            <li *ngFor="let card of cards" class="list-group-item panel card" [style.border-left-color]="item.color"
                dnd-draggable
                [dragData]="card"
                [dragEnabled]="allowDragFunction(card)">
                <card [item]="card">
                    <span class="inline-block glyphicon glyphicon-remove link" style="color:red" ></span><!--(click)="deleteCard(card)"-->
                </card>
            </li>
        </ul>
    </div>

    <ng-container *ngIf="existSub" class="">
        <div *ngFor="let subcardlist of subcardlists" dnd-droppable
             [allowDrop]="allowDropFunction()"
             (onDropSuccess)="cardDropped2($event, subcardlist)">
            <div class="panel-heading">
                <div style="display: inline-flex;">
                    <div class="carret" (click)="clickCarret(subcardlist)">
                        <i class="fa fa-caret-right" *ngIf="!subcardlist.isExpanded"></i>
                        <i class="fa fa-caret-down" *ngIf="subcardlist.isExpanded"></i>
                    </div>
                    <span class="inline listTitle">
                        &nbsp;{{subcardlist.name}}
                    </span>
                    <button type="button" class="btn btn-default btn-xs inline" (click)="showAddCard(subcardlist.$key)">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <a style="float:right; color:black" class="fa fa-trash" ></a><!--(click)="deleteSublist(subcardlist)"-->

            </div>
            <div *ngIf="subcardlist.isExpanded && cardsSub">
                <ul class="list-group">
                    <ng-container *ngFor="let card of cardsSub[subcardlist.name]">
                        <li class="list-group-item panel card" [style.border-left-color]="item.color"
                            dnd-draggable
                            [dragData]="card"
                            [dragEnabled]="allowDragFunction(card)">
                            <card [item]="card">
                                <span class="inline-block glyphicon glyphicon-remove link" style="color:red" ></span><!--(click)="deleteCard(card)"-->
                            </card>
                        </li>
 
                    </ng-container>
                </ul>
            </div>
        </div>
    </ng-container>
</div>

<div class="fullScreen" *ngIf="toShowAddCard" (click)="cancelAddCard()">
</div>
<div class="fullScreentransparent" *ngIf="toShowAddCard">
    <div class="panel panel-default createCard well">
        <div class="panel-heading" [style.background-color]="item.color">
            <h4 class="createTitle">
                New task - {{ item.name }}
                <div class="pull-right link" (click)="cancelAddCard()">
                    <i class="fa fa-window-close"></i>
                </div>
            </h4>
        </div>
        <div class="form-group formfields">
            <label for="taskname">Name</label>
            <input type="text" class="form-control" id="taskname" placeholder="task name" [(ngModel)]="cardname">
            <label for="taskdescription">Description</label>
            <textarea cols="39" rows="6" class="form-control" id="taskdescription" placeholder="description" [(ngModel)]="carddescription"></textarea>
            <!--<input type="text" class="form-control" id="taskdescription" placeholder="description" [(ngModel)]="carddescription">-->
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" (click)="saveAddCard(fatherIdCard)">CREATE</button><!--(click)="saveAddCard(fatherIdCard)"-->
        </div>
    </div>
</div>

<div class="fullScreen" *ngIf="toShowAddSubCardList" (click)="cancelAddSubCardList()">
</div>
<div class="fullScreentransparent" *ngIf="toShowAddSubCardList">
    <div class="panel panel-default createCard well">
        <div class="panel-heading" [style.background-color]="item.color">
            <h4 class="createTitle">
                New Sublist - {{ item.name }}
                <div class="pull-right link" (click)="cancelAddSubCardList()">
                    <i class="fa fa-window-close"></i>
                </div>
            </h4>
        </div>
        <div class="form-group formfields">
            <label for="taskname">Name</label>
            <input type="text" class="form-control" id="taskname" placeholder="task name" [(ngModel)]="subcardlistname">
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" >CREATE</button><!--(click)="saveAddSubCardList(fatherIdCard)"-->
        </div>
    </div>
</div>


